
.navigation {
    text-align: left;
    text-emphasis: none;
    font-family: "Lato", helvetica, sans-serif;
    font: normal normal 900 18px/22px Lato;
    font-size: 16px;
    letter-spacing: 0.45px;
    word-spacing: 30px;
}

#navBar {
    padding: 60px;
    padding-left: 120px;
    justify-content: left;
}

#navBar a {
    cursor: pointer;
    text-decoration: none;
    color: #9a584d;
}

#sectionGrid {
    margin: 0px auto;
    display: grid;
    max-height: 500px;
    grid-template-rows: 500px 500px 500px 500px 250px 250px;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
    "mainLeft mainRight"
    "caseImage caseCopy"
    "caseCopy2 caseImage2"
    "caseImage3 caseCopy3"
    "connect connect"
    "footer footer";
}

#mainLeft {
    padding-left: 120px;
    padding-top: 100px;
    margin: 0 auto;
    justify-content: left;
    float: left;
    height: 500px;
    background-color: #fff;
}

h1 {
    font: normal normal bold 40px/55px Playfair Display;
    color: #333;
}

#mainRight {
    float: left;
    margin: 0 auto;
    padding-top: 40px;
    background-color: #fff;
}

h2 {
    text-align: left;
    font: normal normal bold 34px/55px Playfair Display;
    letter-spacing: 0px;
    color: #333333;
    padding-top: 0px;
    margin: 0 auto;
}

h3 {
    text-align: left;
    font: normal normal 900 16px/19px Lato;
    letter-spacing: 0.4px;
    color: #9A584D;
    padding-bottom: 0px;
    margin: 0 auto;
}

p {
    text-align: left;
    font: normal normal normal 16px/20px Lato;
    letter-spacing: 0.4px;
    color: #333333;
}

a {
    text-align: left;
    font: normal normal bold 18px/20px Lato;
    letter-spacing: 0.45px;
    color: #9A584D;
    text-decoration-line: underline;
}

.rightText {
    padding-left: 120px;
    justify-content: left;
    float: right;
    max-width: 500px;
}

#leftText {
    padding-left: 120px;
    justify-content: left;
    float: left;
    max-width: 500px;
}

h4 {
    color: #9A584D;
    text-align: center;
    font: normal normal bold 40px/55px Playfair Display;
}

#socialIcons {
    display: inline-block;
    align-items: center;
    justify-content: center;
}